@inherits LayoutComponentBase

<RadzenComponents @rendermode="InteractiveServer" />
<RadzenLayout>

	@* <Header ToggleMenu="@ToggleSidebar" /> *@
	<Header />

	@* <Sidebar @bind-IsExpanded="@sidebarExpanded" /> *@


	<RadzenBody Style="margin-top: 30px !important;">

		<div class="rz-p-4">
			@Body
		</div>



	</RadzenBody>

</RadzenLayout>


@code {
	private bool sidebarExpanded = true;


	private void ToggleSidebar()
	{
		sidebarExpanded = !sidebarExpanded;
		StateHasChanged();
	}
}